{{!-- display post details --}}
<div class="post">
  <div class="title">
    <h2>
      <a href="/post/{{post.id}}">{{title}}</a>
    </h2>
    <p>
    </p>
  </div>
  <div class="post-body">
    <p>
      {{body}}
    </p>
    <p>posted by {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>