{{!-- display post details
include comments and comment form--}}
<div class="post-box">
  <div class="title">
    <h2><a href="/post/{{post.id}}">{{title}}</a></h2>
    <p>posted by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div class="post-body">
    <p>{{post.body}}</p>
  </div>

  {{#if post.comments}}
  <div class="comment-box">
    {{#each post.comments as |comment|}}
    <div class="comment-body">
      <p>comment by {{comment.user.username}} on {{format_date comment.date_created}}</p>
      <p>{{comment.body}}</p>
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{#if loggedIn}}
  <div class="card">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

      <label class="form-label">Comment</label>
      <input id="comment" name="comment-body" class="form-input" />
      <div class="form-button-layout">
        <button type="submit" class="btn">submit comment</button>
      </div>
    </form>
  </div>
  {{/if}}

  {{#if loggedIn}}
  <script src="/js/comment.js"></script>
  {{/if}}
</div>